<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>{{carType | uppercase}} {{count}}</h4>

      <div class="d-flex align-items-center">
        <div class="w-100">
          <select class="form-select" name="cars" id="cars" [(ngModel)]="carType">
            <option [ngValue]="'volvo'" id="dropdown-1">Volvo</option>
            <option [ngValue]="'saab'" id="dropdown-2">Saab</option>
            <option [ngValue]="'mercedes'" id="dropdown-3">Mercedes</option>
            <option [ngValue]="'audi'" id="dropdown-4">Audi</option>
          </select>
        </div>

        <div class="w-100 ms-2">
          <button class="btn btn-primary" id="increase-count" (click)="increaseCount()">add one</button>
        </div>
      </div>
    </div>
  </div>
</div>

